.blog-preview {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: -50px;
  .post {
    width: calc(25% - 90px);
    margin-bottom: 50px;
    @include respond-to(notebook) {
      width: calc(25% - 60px);
    }
    @include respond-to(laptop) {
      width: calc(25% - 40px);
    }
    @include respond-to(medium) {
      width: calc(33.33333333% - 40px);
    }
    .picture {
      position: relative;
      height: calc(25vw - 140px);
      overflow: hidden;
      @include respond-to(notebook) {
        height: calc(25vw - 76px);
      }
      @include respond-to(laptop) {
        height: calc(25vw - 46px);
      }
      @include respond-to(medium) {
        height: calc(33vw - 48px);
      }
      img {
        transition: all 0.3s 0s;
        width: 100%;
        object-fit: cover;
      }
      &:hover {
        img {
          transform: scale(1.05);
        }
      }
    }
    .title {
      text-align: center;
      font-weight: bold;
      font-size: 1.1rem;
      padding: 50px 0 14px;
      @include respond-to(laptop) {
        padding: 20px 0 14px;
      }
      @include respond-to(medium) {
        padding: 20px 0 14px;
      }
    }
    .description {
      text-align: center;
      color: #777;
    }
  }
}
