.cart-wrapper {
  width: 80%;
  margin: 0 auto;
  @include respond-to(hd) {
    width: 90%;
  }
  @include respond-to(notebook) {
    width: 90%;
  }
  @include respond-to(laptop) {
    width: 100%;
  }
  @include respond-to(medium) {
    width: 100%;
  }
  @include respond-to(phone) {
    width: 100%;
  }
  .cart-products {
    @include respond-to(phone) {
      padding-top: 20px;
    }
    .heading {
      background-color: $green-color;
      height: 42px;
      line-height: 46px;
      overflow: hidden;
      color: #ffffff;
      font-weight: 600;
      font-size: 1.3rem;
      @include respond-to(phone) {
        display: none;
      }
    }
    .product {
      height: 126px;
      line-height: 126px;
      @include respond-to(medium) {
        height: 90px;
        line-height: 90px;
      }
      @include respond-to(phone) {
        height: 70px;
        padding: 5px 0;
        line-height: 60px;
        position: relative;
      }
      .picture {
        @include respond-to(phone) {
          height: 60px;
          width: 60px !important;
          line-height: 60px;
          padding-left: 0 !important;
        }
        img {
          vertical-align: middle;
          max-width: 100%;
          max-height: 100%;
        }
      }
      .description {
        @include respond-to(phone) {
          height: 20px;
          line-height: 20px;
          display: block;
          position: absolute;
          white-space: nowrap;
          left: 70px;
        }
        a {
          color: inherit;
          text-decoration: none;
          display: inline-block;
          line-height: 20px;
          vertical-align: middle;
          &:hover {
            color: $green-color;
          }
        }
      }
      .sku {
        @include respond-to(phone) {
          height: 20px;
          line-height: 20px;
          display: block;
          position: absolute;
          white-space: nowrap;
          left: 70px;
          top: 23px;
        }
      }
      .price {
        @include respond-to(phone) {
          height: 20px;
          line-height: 20px;
          display: block;
          position: absolute;
          white-space: nowrap;
          left: 70px;
          top: 40px;
        }
      }
      .count {
        @include respond-to(phone) {
          position: absolute;
          right: 36px;
          width: 40px !important;
        }
        .cart-counter {
          border: 2px solid darken($light-gray-color, 5);
          line-height: 28px;
          margin-top: 48px;
          width: 100px;
          height: 30px;
          overflow: hidden;
          text-align: center;
          @include respond-to(medium) {
            margin-top: 30px;
          }
          @include respond-to(phone) {
            margin: 0;
            width: 36px;
            height: 60px;
            position: relative;
            border: none;
          }
          .amount {
            border: 2px solid darken($light-gray-color, 5);
            border-top: none;
            border-bottom: none;
            width: 39px;
            @include respond-to(phone) {
              line-height: 60px;
              border: none;
              width: auto;
            }
          }
          .dec,
          .inc {
            width: 28px;
            cursor: pointer;
            font-size: 1.5rem;
            line-height: 28px;
            color: darken($light-gray-color, 30);
            @include respond-to(phone) {
              right: 0;
              position: absolute;
              top: 0;
            }
          }
          .dec {
            @include respond-to(phone) {
              top: 33px;
              bottom: 0;
            }
          }
          & > div {
            float: left;
          }
        }
      }
      .total {
        font-size: 1.25rem;
        @include respond-to(phone) {
          display: none;
        }
      }
    }
    .product-remove {
      color: #f04661;
      @include respond-to(laptop) {
        width: calc(100% - 922px);
        text-align: right;
        padding-right: 25px;
      }
      @include respond-to(medium) {
        text-align: right;
        padding-right: 0;
      }
      @include respond-to(phone) {
        text-align: right;
        padding-right: 0;
        position: absolute;
        right: 0;
        margin-top: 5px;
      }
      i {
        cursor: pointer;
        font-size: 1.5rem;
      }
    }
    .heading > div,
    .product > div {
      float: left;
      &:nth-child(1) {
        width: 183px;
        padding-left: 40px;
        @include respond-to(notebook) {
          width: 140px;
          padding-left: 20px;
        }
        @include respond-to(laptop) {
          width: 120px;
          padding-left: 30px;
        }
        @include respond-to(medium) {
          width: 85px;
          padding-left: 10px;
        }
        @include respond-to(phone) {
          width: 85px;
          padding-left: 10px;
        }
      }
      &:nth-child(2) {
        width: 323px;
        @include respond-to(laptop) {
          width: 290px;
        }
        @include respond-to(medium) {
          width: calc(100% - 562px);
        }
        @include respond-to(phone) {
          width: calc(100% - 150px);
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
      &:nth-child(3) {
        width: 180px;
        @include respond-to(notebook) {
          width: 140px;
        }
        @include respond-to(laptop) {
          width: 130px;
        }
        @include respond-to(medium) {
          width: 112px;
        }
        @include respond-to(phone) {
          width: 112px;
        }
      }
      &:nth-child(4) {
        width: 180px;
        @include respond-to(laptop) {
          width: 150px;
        }
        @include respond-to(medium) {
          width: 120px;
        }
        @include respond-to(phone) {
          width: 120px;
        }
      }
      &:nth-child(5) {
        width: 145px;
        @include respond-to(laptop) {
          width: 106px;
        }
        @include respond-to(medium) {
          width: 80px;
        }
        @include respond-to(phone) {
          width: 80px;
        }
      }
      &:nth-child(6) {
        width: 126px;
      }
      &:nth-child(7) {
        float: right;
        padding-right: 20px;
      }
    }
  }
  .cart-summary {
    height: 55px;
    line-height: 58px;
    text-align: right;
    padding-right: 10px;
    @include respond-to(phone) {
      height: 40px;
      line-height: 41px;
      text-align: right;
      padding-right: 0;
    }
    .input {
      border: 1px solid $light-gray-color;
      width: 185px;
      height: 31px;
      padding: 0 10px;
    }
  }
  .order-wrapper {
    padding-top: 120px;
    padding-bottom: 136px;
    @include respond-to(hd) {
      padding-top: 90px;
      padding-bottom: 90px;
    }
    @include respond-to(notebook) {
      padding-top: 90px;
      padding-bottom: 90px;
    }
    @include respond-to(laptop) {
      padding-top: 90px;
      padding-bottom: 90px;
    }
    @include respond-to(medium) {
      padding-top: 70px;
      padding-bottom: 60px;
    }
    @include respond-to(phone) {
      padding-top: 50px;
      padding-bottom: 60px;
    }
    .customer-info {
      width: 50%;
      float: left;
      @include respond-to(phone) {
        width: 100%;
        padding-bottom: 50px;
      }
      .heading-1 {
        padding-bottom: 40px;
        @include respond-to(phone) {
          padding-bottom: 10px;
        }
      }
      .customer-form {
        label {
          display: block;
          height: 55px;
          .input {
            width: 290px;
            float: left;
            height: 26px;
            border-bottom: 1px solid $light-gray-color;
            padding: 0;
            @include respond-to(phone) {
              width: 100%;
            }
          }
          .textarea {
            margin-top: 6px;
            height: 44px;
          }
          span {
            display: block;
            width: 109px;
            float: left;
            padding-top: 6px;
            @include respond-to(phone) {
              width: 100%;
            }
          }
        }
      }
    }
    .delivery-payment-info {
      width: 50%;
      float: left;
      @include respond-to(phone) {
        width: 100%;
      }
      .heading-1 {
        padding-bottom: 40px;
        @include respond-to(phone) {
          padding-bottom: 10px;
        }
      }
      .delivery,
      .payment {
        padding-bottom: 50px;
        @include respond-to(phone) {
          padding-bottom: 30px;
        }
      }
      .btn-green {
        display: inline-block;
        @include respond-to(phone) {
          width: 100%;
        }
      }
      .radio-label {
        position: relative;
        display: block;
        padding-left: 26px;
        width: 400px;
        height: 35px;
        @include respond-to(phone) {
          width: 100%;
        }
        &:before {
          display: block;
          content: '';
          width: 16px;
          height: 16px;
          position: absolute;
          left: 0;
          top: 0;
          background: url('../img/radio-unchecked.png') no-repeat center center;
        }
        span {
          float: right;
        }
      }
      input[type="radio"]:checked + .radio-label:before {
        background-image: url('../img/radio-checked.png');
      }
    }
  }
}
