footer {
  margin-top: 56px;
  border-top: 2px solid #f2f2f2;
  padding: 16px 0 50px 0;
  .copyrights {
    width: 30%;
    line-height: 1.4rem;
    @include respond-to(hd) {
      width: 25%;
    }
    @include respond-to(notebook) {
      width: 25%;
    }
    @include respond-to(laptop) {
      width: 25%;
    }
    @include respond-to(medium) {
      width: 50%;
    }
    .logo {
      padding-bottom: 8px;
    }
  }
  .links {
    width: 32%;
    @include respond-to(laptop) {
      width: 19%;
    }
    @include respond-to(medium) {
      width: 50%;
      padding-top: 28px;
    }
    .columns {
      list-style: none;
      @include respond-to(laptop) {
        padding-top: 16px;
      }
      li {
        display: inline-block;
        vertical-align: top;
        padding: 16px 0 20px 0;
        width: 48%;
        @include respond-to(laptop) {
          width: 98%;
          padding: 0 0 12px 0;
        }
        @include respond-to(medium) {
          width: 98%;
          padding: 0 0 12px 0;
        }
        a {
          text-decoration: none;
          color: inherit;
          &:hover {
            color: $green-color;
            text-decoration: none;
          }
        }
      }
    }
  }
  .pay-cards {
    padding-top: 16px;
    .cards-list {
      list-style: none;
      width: 204px;
      padding-top: 22px;
      li {
        display: inline-block;
      }
    }
  }
  .contacts {
    text-align: right;
    padding-top: 13px;
    @include respond-to(medium) {
      width: 50%;
      text-align: left;
    }
    a {
      color: inherit;
      text-decoration: none;
      line-height: 1.4rem;
      &:hover {
        text-decoration: none;
      }
    }
    .email {
      padding: 8px 0;
    }
    .socials {
      @include respond-to(medium) {
        float: left;
      }
      a {
        color: #b6b6b6;
        border: 2px solid #b6b6b6;
        width: 28px;
        height: 28px;
        &:before {
          font-size: 1.0rem;
          line-height: 25px;
        }
      }
    }
  }
}
