* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  font-size: 14px;
  font-family: 'Gotham Pro';
}

body {

}

.hidden {
  display: none;
}

.left {
  float: left;
}

.right {
  float: right;
}

.clear:after {
  clear: both;
  content: '';
  display: block;
}

.no-bg {
  background: none !important;
}

.no-margin {
  margin: 0 !important;
}

.no-wrap {
  white-space: nowrap;
}

.no-padding {
  padding: 0 !important;
}

.w0 {
  width: 0 !important;
}

.w50p {
  width: 50% !important;
}

.w100p {
  width: 100% !important;
}

.h0 {
  height: 0;
}

.h100p {
  height: 100%;
}

.text {
  font-size: 1rem;
  line-height: 24px;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left !important;
}

.text-right {
  text-align: right !important;
}

.text-italic {
  font-style: italic;
}

.text-underline {
  text-decoration: underline;
}

.text-stroke {
  text-decoration: line-through;
}

.text-small {
  font-size: 0.95rem;
}

.fw-100 {
  font-weight: 100;
}

.fw-400 {
  font-weight: 400;
}

.fw-500 {
  font-weight: 500;
}

.fw-600 {
  font-weight: 600;
}

.fw-700 {
  font-weight: 700;
}

.fw-800 {
  font-weight: 800;
}

.fw-900 {
  font-weight: 900;
}

.input {
  height: 42px;
  border: none;
  background-color: #ffffff;
  outline: none;
  padding: 0 20px;
}

::placeholder {
}

.wrapper {
  width: calc(100% - 180px);
  margin: 0 auto;
  @include respond-to(hd) {
    width: calc(100% - 50px);
  }
  @include respond-to(notebook) {
    width: calc(100% - 50px);
  }
  @include respond-to(laptop) {
    width: calc(100% - 50px);
  }
}

.slider-bg {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.btn {
  background: none;
  border: none;
  outline: none;
  color: #000000;
  height: 42px;
  cursor: pointer;
  // font-family: 'Montserrat';
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  padding: 0 15px;
  border: 2px solid #000000;
}

.btn-green {
  @extend .btn;
  font-size: 0.9rem;
  color: #ffffff;
  font-weight: 500;
  height: 37px;
  line-height: 37px;
  background-color: #7dbb00;
  border: 2px solid transparent;
}

.color-green {
  color: $green-color;
}

.color-gray {
  color: $gray-color;
}

.color-red {
  color: $red-color;
}

.heading-1, H1 {
  text-transform: uppercase;
  font-size: 1.8rem;
}

.heading-2, H2 {
  @extend .heading-1;
  font-size: 1.4rem;
}

.heading-3, H3 {
  @extend .heading-1;
  font-size: 1.1rem;
}

.heading-4, H4 {
  @extend .heading-1;
  font-size: 0.95rem;
}

.hr {
  background-color: $light-gray-color;
  height: 1px;
  width: 100%;
  display: block;
}

.sitebar {
  width: 296px;
  @include respond-to(hd) {
    width: 256px;
  }
  @include respond-to(notebook) {
    width: 256px;
  }
  @include respond-to(laptop) {
    width: 256px;
  }
}

.content {
  padding: 0 55px 55px 55px;
  margin-bottom: 55px;
  width: calc(100% - 296px);
  @include respond-to(hd) {
    width: calc(100% - 256px);
  }
  @include respond-to(notebook) {
    width: calc(100% - 256px);
  }
  @include respond-to(laptop) {
    width: calc(100% - 256px);
  }
}

.text-block {
  .heading-3, H3 {
    line-height: 2.2rem;
    margin-bottom: 25px;
  }
  p {
    @extend .text;
  }
}
