header {
  .header {
    height: 102px;
    position: relative;
    @include respond-to(phone) {
      height: 70px;
    }
    .logo {
      position: absolute;
      a {
        display: block;
        height: 100%;
        img {
          margin-top: 5px;
          @include respond-to(phone) {
            width: 210px;
          }
        }
      }
    }
    .menu {
      transition: all 0.3s 0s;
      .socials,
      .phones {
        display: none;
      }
      .phones {
        position: absolute;
        bottom: 52px;
        line-height: 14px;
        font-size: 0.9rem;
        width: 100%;
        .phone {
          display: block;
          width: 100%;
          height: 100%;
          color: #ffffff;
          text-decoration: none;
          text-align: center;
        }
      }
      @include respond-to(hd) {
        margin-right: 14px;
      }
      @include respond-to(notebook) {
        position: absolute;
        right: 102px;
        height: 100%;
      }
      @include respond-to(laptop) {
        position: absolute;
        right: 106px;
        max-width: calc(100% - 424px);
      }
      @include respond-to(medium) {
        position: fixed;
        width: 300px;
        height: 100%;
        display: block;
        background: #222224;
        right: -100%;
        max-width: initial;
        z-index: 999;
        &.opened {
          right: 0;
        }
      }
      @include respond-to(phone) {
        position: fixed;
        width: 300px;
        height: 100%;
        display: block;
        background: #222224;
        right: -100%;
        max-width: initial;
        z-index: 999;
        &.opened {
          right: 0;
        }
      }
      @include respond-to(medium) {
        .phones {
          display: block;
        }
      }
      @include respond-to(phone) {
        .phones {
          display: block;
        }
      }
      ul {
        list-style-type: none;
        display: flex;
        line-height: 102px;
        @include respond-to(medium) {
          display: block;
          height: calc(100% - 100px);
          overflow: auto;
          padding-top: 20px;
        }
        @include respond-to(phone) {
          display: block;
          height: calc(100% - 100px);
          overflow: auto;
          padding-top: 24px;
        }
        .item {
          height: 100%;
          font-size: 1.3rem;
          font-weight: 100;
          padding: 0 35px;
          @include respond-to(hd) {
            padding: 0 15px;
          }
          @include respond-to(notebook) {
            padding: 0 24px;
          }
          @include respond-to(laptop) {
            padding: 0 15px;
            line-height: 103px;
            height: 100%;
          }
          @include respond-to(medium) {
            padding: 0;
            height: 45px;
            text-align: center;
            color: #ffffff;
          }
          @include respond-to(phone) {
            padding: 0;
            height: 45px;
            text-align: center;
            color: #ffffff;
          }
          a {
            text-transform: uppercase;
            text-decoration: none;
            color: #000000;
            font: inherit;
            display: block;
            @include respond-to(laptop) {
              vertical-align: middle;
              line-height: 20px;
              display: inline-block;
            }
            @include respond-to(medium) {
              vertical-align: middle;
              line-height: 20px;
              color: inherit;
              font-size: 1.1rem;
            }
            @include respond-to(phone) {
              vertical-align: middle;
              line-height: 20px;
              color: inherit;
              font-size: 1.1rem;
            }
            &:hover,
            &.active {
              color: $green-color;
            }
          }
        }
      }
    }
    .search-cart {
      height: 102px;
      line-height: 102px;
      list-style-type: none;
      display: flex;
      @include respond-to(laptop) {
        right: 0;
        position: absolute;
      }
      @include respond-to(medium) {
        right: 0;
        position: absolute;
      }
      @include respond-to(phone) {
        right: 0;
        position: absolute;
        height: 70px;
        line-height: 70px;
      }
      li {
        font-size: 1.8rem;
        color: $gray-color;
        text-align: center;
        i {
          cursor: pointer;
          vertical-align: middle;
          position: relative;
        }
      }
      .search {
        background-color: #ffffff;
        white-space: nowrap;
        .input {
          font-size: 1rem;
          width: 0;
          padding: 0;
          transition: all 0.4s 0s;
          height: 34px;
          vertical-align: middle;
        }
        &.expanded {
          @include respond-to(notebook) {
            background: white;
            z-index: 999;
            text-align: left;
          }
          .input {
            width: 165px;
            border: 1px solid $light-gray-color;
            padding: 0 10px;
            margin-right: 8px;
            @include respond-to(notebook) {
              width: 250px;
            }
            @include respond-to(laptop) {
              width: 250px;
            }
            @include respond-to(phone) {
              width: calc(100vw - 117px);
            }
          }
        }
      }
      .delimiter {
        width: 20px;
        margin: 0 12px 0 5px;
        i {
          font-size: 2.5rem;
          border-right: 1px solid $light-gray-color;
        }
      }
      .cart {
        a {
          color: inherit;
          text-decoration: none;
          position: relative;
          &:after {
            position: absolute;
            right: -6px;
            top: -6px;
            font-family: 'Gotham Pro';
            content: attr(data-count);
            display: block;
            background: $green-color;
            color: #fff;
            font-size: 0.8rem;
            width: 18px;
            height: 18px;
            text-align: center;
            line-height: 20px;
            border-radius: 50%;
          }
        }
      }
    }
  }
}
