.product-page {
  .product-view {
    .column {
      &:first-child {
        width: 840px;
        padding-left: 172px;
      }
      &:last-child {
        padding-left: 60px;
      }
      .product-picture {
        margin-bottom: 100px;
      }
      .product-thumbnails {
        height: 455px;
        width: 76px;
        position: relative;
        padding-top: 65px;
        .swiper-container {
          height: 326px;
          .swiper-wrapper {
            list-style: none;
            .swiper-slide {
              background-repeat: no-repeat;
              background-size: contain;
              cursor: pointer;
              background-position: center center;
              &.active {
                border: 1px solid $green-color;
              }
            }
          }
        }
        .navigate {
          width: 34px;
          height: 34px;
          line-height: 31px;
          position: absolute;
          border-radius: 50%;
          top: 0;
          left: 21px;
          background-color: #f7f7f7;
          color: #cccccc;
          text-align: center;
          font-size: 2rem;
          cursor: pointer;
          &.button-next {
            line-height: 36px;
            top: auto;
            bottom: 0;
          }
        }
      }
      .product-photo {
        width: 592px;
        height: 455px;
        line-height: 455px;
        text-align: center;
        img {
          width: 90%;
          max-height: 100%;
          vertical-align: middle;
          object-fit: contain;
        }
      }
      .history {
        .products-list {
          .product {
            width: 50%;
          }
        }
      }
      .general-info {
        width: 472px;
        .sku-brand {
          color: #AAAAAA;
          height: 56px;
          line-height: 56px;
          .divider {
            margin: 0 30px;
            border-left: 1px solid $light-gray-color;
            font-size: 1.7rem;
          }
        }
        .price {
          font-size: 2.3rem;
          width: 265px;
          padding-top: 50px;
          span {
            display: block;
            &.old {
              font-size: 1.5rem;
              color: #AAAAAA;
              text-decoration: line-through;
            }
          }
        }
        .counter {
          text-align: center;
          padding-top: 38px;
          .timer {
            line-height: 48px;
            font-size: 2.0rem;
            .digit {
              display: inline-block;
              span {
                display: inline-block;
                width: 26px;
                height: 45px;
                background: url('../img/products/counter-bg.png') no-repeat center center;
              }
            }
          }
        }
        .buy-btns {
          padding: 40px 0 25px;
          .btn {
            width: 50%;
            line-height: 42px;
            height: 42px;
            font-size: 1rem;
            font-weight: 400;
          }
        }
        .tabs-wrapper {
          margin-top: 25px;
          .tabs {
            list-style: none;
            border-bottom: 1px solid #2d2d2d;
            li {
              display: block;
              height: 42px;
              line-height: 42px;
              padding: 0 25px;
              border: 1px solid #2d2d2d;
              border-bottom: none;
              text-transform: uppercase;
              &.active {
                background-color: #2d2d2d;
                color: #ffffff;
              }
              a {
                color: inherit;
                text-decoration: none;
                display: block;
                width: 100;
                height: 100%;
              }
            }
          }
          .tabs-content {
            .tab-content {
              display: none;
              line-height: 1.5rem;
              &.visible {
                display: block;
              }
              .properties {
                padding: 25px 0;
              }
              .btn-youtube {
                height: 56px;
                line-height: 60px;
                margin-top: 30px;
                border: none;
                background-color: #e14e42;
                color: #ffffff;
                font-size: 1.5rem;
                font-weight: 600;
                i {
                  font-size: 2.3rem;
                  vertical-align: middle;
                  margin-right: 10px;
                }
                a {
                  display: block;
                  width: 100%;
                  height: 100%;
                  color: inherit;
                  text-decoration: none;
                }
              }
            }
          }
        }
      }
      .awards {
        // width: calc(100% - 470px);
        padding-left: 65px;
        .award {
          text-align: right;
          margin-bottom: 32px;
        }
      }
    }
  }
  .text-block {
    padding: 30px 200px 100px;
    .heading-3 {
      padding-bottom: 25px;
    }
  }
  .section-header {
    margin: 52px 0 25px;
  }
}
