.section-header {
  text-align: center;
  margin-top: 125px;
  margin-bottom: 55px;
  &.text-left {
    .title-wrapper {
      .heading-1 {
        padding-right: 10px;
        padding-left: 0;
      }
    }
  }
  &.text-right {
    .title-wrapper {
      .heading-1 {
        padding-left: 10px;
        padding-right: 0;
      }
    }
  }
  .title-wrapper {
    position: relative;
    &:before {
      content: '';
      display: block;
      position: absolute;
      left: 0;
      right: 0;
      top: 50%;
      height: 1px;
      background-color: $light-gray-color;
      z-index: -1;
    }
    .heading-1 {
      display: inline-block;
      background: #ffffff;
      padding: 0 45px;
    }
  }
  .description {
    padding-top: 10px;
    &:empty {
      display: none;
    }
  }
}
