<div class="wrapper">
  <div class="blog-preview">
    <a href="#" class="post">
      <div class="picture">
        <img src="img/home/blog/post-01.jpg" alt="" />
      </div>
      <div class="title">
        GLUTEN FREE
      </div>
      <div class="description">
        Еще лет десять тому назад слово «глютен» было известно разве что биологам и диетологам. Да и сегодня далеко не каждый ответит без запинки, из какой области знаний этот термин.
      </div>
    </a>
    <a href="#" class="post">
      <div class="picture">
        <img src="img/home/blog/post-02.jpg" alt="" />
      </div>
      <div class="title">
        ОРГАНИЧЕСКИЕ ШАМПУНИ URTEKRAM ЛЕЧАТ ВОЛОСЫ
      </div>
      <div class="description">
         он у себя в постели превратился в страшное насекомое. Лежа на панцирнотвердой спине, он видел, стоило ему приподнять голову, свой коричневый, выпуклый живот.
      </div>
    </a>
    <a href="#" class="post">
      <div class="picture">
        <img src="img/home/blog/post-03.jpg" alt="" />
      </div>
      <div class="title">
        5 МИФОВ ОБ ОРГАНИЧЕСКИХ ПРОДУКТАХ
      </div>
      <div class="description">
        Разделенный дугообразными чешуйками живот, на верхушке которого еле держалось готовое вот-вот окончательно сползти одеяло.
      </div>
    </a>
    <a href="#" class="post">
      <div class="picture">
        <img src="img/home/blog/post-01.jpg" alt="" />
      </div>
      <div class="title">
        GLUTEN FREE
      </div>
      <div class="description">
        Еще лет десять тому назад слово «глютен» было известно разве что биологам и диетологам. Да и сегодня далеко не каждый ответит без запинки, из какой области знаний этот термин.
      </div>
    </a>
  </div>
</div>
