<div class="wrapper">
  <div class="blog-preview">
    <div class="post">
      <div class="picture">
        <a href="#">
          <img src="img/home/blog/post-01.jpg" alt="" />
        </a>
      </div>
      <div class="title">
        GLUTEN FREE
      </div>
      <div class="description">
        Еще лет десять тому назад слово «глютен» было известно разве что биологам и диетологам. Да и сегодня далеко не каждый ответит без запинки, из какой области знаний этот термин.
      </div>
    </div>
    <div class="post">
      <div class="picture">
        <a href="#">
          <img src="img/home/blog/post-02.jpg" alt="" />
        </a>
      </div>
      <div class="title">
        ОРГАНИЧЕСКИЕ ШАМПУНИ URTEKRAM ЛЕЧАТ ВОЛОСЫ
      </div>
      <div class="description">
         он у себя в постели превратился в страшное насекомое. Лежа на панцирнотвердой спине, он видел, стоило ему приподнять голову, свой коричневый, выпуклый живот.
      </div>
    </div>
    <div class="post">
      <div class="picture">
        <a href="#">
          <img src="img/home/blog/post-03.jpg" alt="" />
        </a>
      </div>
      <div class="title">
        5 МИФОВ ОБ ОРГАНИЧЕСКИХ ПРОДУК
      </div>
      <div class="description">
        Разделенный дугообразными чешуйками живот, на верхушке которого еле держалось готовое вот-вот окончательно сползти одеяло.
      </div>
    </div>
    <div class="post">
      <div class="picture">
        <a href="#">
          <img src="img/home/blog/post-01.jpg" alt="" />
        </a>
      </div>
      <div class="title">
        GLUTEN FREE
      </div>
      <div class="description">
        Еще лет десять тому назад слово «глютен» было известно разве что биологам и диетологам. Да и сегодня далеко не каждый ответит без запинки, из какой области знаний этот термин.
      </div>
    </div>
  </div>
</div>
