<div class="wrapper">
  <div id="brands-slider" class="swiper-container">
    <ul class="swiper-wrapper">
      <li class="swiper-slide" style="background-image:url('img/brands/brand-01.jpg')">
        <div class="figure"></div>
        <div class="title">BabyBjörn</div>
        <div class="btn-green">
          <a href="#">подробнее</a>
        </div>
      </li>
      <li class="swiper-slide" style="background-image:url('img/brands/brand-02.jpg')">
        <div class="figure"></div>
        <div class="title">Biosolis</div>
        <div class="btn-green">
          <a href="#">подробнее</a>
        </div>
      </li>
      <li class="swiper-slide" style="background-image:url('img/brands/brand-03.jpg')">
        <div class="figure"></div>
        <div class="title">Bisson</div>
        <div class="btn-green">
          <a href="#">подробнее</a>
        </div>
      </li>
      <li class="swiper-slide" style="background-image:url('img/brands/brand-04.jpg')">
        <div class="figure"></div>
        <div class="title">Ecomil</div>
        <div class="btn-green">
          <a href="#">подробнее</a>
        </div>
      </li>
      <li class="swiper-slide" style="background-image:url('img/brands/brand-05.jpg')">
        <div class="figure"></div>
        <div class="title">EOS</div>
        <div class="btn-green">
          <a href="#">подробнее</a>
        </div>
      </li>
      <li class="swiper-slide" style="background-image:url('img/brands/brand-01.jpg')">
        <div class="figure"></div>
        <div class="title">le pain des fleurs</div>
        <div class="btn-green">
          <a href="#">подробнее</a>
        </div>
      </li>
      <li class="swiper-slide" style="background-image:url('img/brands/brand-02.jpg')">
        <div class="figure"></div>
        <div class="title">Biosolis</div>
        <div class="btn-green">
          <a href="#">подробнее</a>
        </div>
      </li>
    </ul>
    <div class="slider-arrow btn-prev hide">
      <img src="img/home/slider/left-arrow.png" alt="Previous" />
    </div>
    <div class="slider-arrow btn-next">
      <img src="img/home/slider/right-arrow.png" alt="Next" />
    </div>
  </div>
</div>
