<header>
  <div class="header wrapper clear">
    <div class="logo">
      <a href="#">
        <img src="img/header-logo.png" alt="UNIMED" />
      </a>
    </div>
    <ul class="search-cart right">
      <li class="search">
        <i class="fa fa-search"></i>
        <input type="text" id="keyword" class="input" name="q" value="" placeholder="Искать..." />
      </li>
      <li class="delimiter">
        <i></i>
      </li>
      <li class="cart">
        <i class="fa fa-shopping-basket" data-count="2"></i>
      </li>
    </ul>
    <div class="menu right">
      <ul>
        <li class="item">
          <a href="#">для красоты</a>
        </li>
        <li class="item">
          <a href="#">для дома</a>
        </li>
        <li class="item">
          <a href="#">для детей</a>
        </li>
        <li class="item">
          <a href="#">для мужчин</a>
        </li>
        <li class="item">
          <a href="#">акции</a>
        </li>
      </ul>
      <div class="phones right">
        <a class="phone" href="tel:0445269898">(044) 526-98-98</a>
        <a class="phone" href="tel:0445269899">(044) 526-98-99</a>
        <a class="phone" href="tel:0443613430">(044) 361-34-30</a>
      </div>
    </div>
  </div>
</header>
