<title>Юнимед</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
<link href="css/swiper.min.css" rel="stylesheet" type="text/css">
<link href="css/jquery.range.css" rel="stylesheet" type="text/css">
<link href="css/main.css" rel="stylesheet" type="text/css">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
<script src="js/jquery-1.12.4.min.js"></script>
<script src="js/swiper.min.js"></script>
<script src="js/jquery.range.js"></script>
<script src="js/app.js" defer></script>
