<div class="wrapper">
  <div id="home-slider-01" class="swiper-container">
     <ul class="swiper-wrapper">
        <li class="swiper-slide" style="background-image:url('img/home/slider/slide-01.jpg')">
          <div class="btn">
            <a href="#">новая коллекция</a>
          </div>
        </li>
        <li class="swiper-slide" style="background-image:url('img/home/slider/slide-01.jpg')">
          <div class="btn">
            <a href="#">новая коллекция</a>
          </div>
        </li>
        <li class="swiper-slide" style="background-image:url('img/home/slider/slide-01.jpg')">
          <div class="btn">
            <a href="#">новая коллекция</a>
          </div>
        </li>
     </ul>
     <div class="slider-arrow btn-prev">
       <img src="img/home/slider/left-arrow.png" alt="Previous" />
     </div>
     <div class="slider-arrow btn-next">
       <img src="img/home/slider/right-arrow.png" alt="Next" />
     </div>
  </div>
</div>
