<nav class="menu-wrapper">
  <div class="wrapper main-menu">
    <ul class="menu homepage">

      <li class="menu-item">
        <a href="#">Home</a>
      </li>
      <li class="menu-item with-arrow">
        <a href="#">Tee</a>
        <ul class="submenu">
          <li class="menu-subitem">
            <span>Schwarztee</span>
          </li>
          <li class="menu-subitem">
            <a href="#">Schwarz -aromatisiert-</a>
          </li>
          <li class="menu-subitem">
            <a href="#">Schwarz -entkoffeiniert-</a>
          </li>
          <li class="menu-subitem">
            <a href="#">Darjeeling</a>
          </li>
          <li class="menu-subitem">
            <a href="#">Assam</a>
          </li>
          <li class="menu-subitem">
            <a href="#">Ceylon</a>
          </li>
          <li class="menu-subitem">
            <a href="#">China</a>
          </li>
          <li class="menu-subitem">
            <a href="#">Andere Länder & Gebiete</a>
          </li>
          <li class="menu-subitem">
            <a href="#">Ostfriesen & Blatt-Mischung</a>
          </li>
          <li class="menu-subitem">
            <span>Grüner Tee</span>
          </li>
          <li class="menu-subitem">
            <a href="#">Grün -aromatisiert-</a>
          </li>
          <li class="menu-subitem">
            <a href="#">Weißer Tee -aromatisiert-</a>
          </li>
          <li class="menu-subitem">
            <a href="#">Darjeeling</a>
          </li>
          <li class="menu-subitem">
            <a href="#">Japan</a>
          </li>
          <li class="menu-subitem">
            <a href="#">China</a>
          </li>
          <li class="menu-subitem">
            <a href="#">Andere Länder & Gebiete</a>
          </li>
          <li class="menu-subitem">
            <span>Oolong</span>
          </li>
          <li class="menu-subitem">
            <span>Früchtetee</span>
          </li>
          <li class="menu-subitem">
            <a href="#">Früchte Sortiment</a>
          </li>
          <li class="menu-subitem">
            <a href="#">Früchte -magenschonend-</a>
          </li>
          <li class="menu-subitem">
            <a href="#">Früchte -magenschonend-</a>
          </li>
          <li class="menu-subitem">
            <span>Kräutertee & Gewürze</span>
          </li>
          <li class="menu-subitem">
            <a href="#">Kräuter -aromatisiert-</a>
          </li>
          <li class="menu-subitem">
            <a href="#">Kräuter & Gewürze - pur -</a>
          </li>
          <li class="menu-subitem">
            <span>Rooibostee</span>
          </li>
          <li class="menu-subitem">
            <a href="#">Rooibos -aromatisiert-</a>
          </li>
          <li class="menu-subitem">
            <a href="#">Rooibos grün</a>
          </li>
          <li class="menu-subitem">
            <a href="#">Honeybush</a>
          </li>
          <li class="menu-subitem">
            <span>Bio & Natürliches Aroma</span>
          </li>
          <li class="menu-subitem">
            <a href="#">Bio Tee</a>
          </li>
          <li class="menu-subitem">
            <a href="#">Ayurveda Tee</a>
          </li>
          <li class="menu-subitem">
            <a href="#">Natürlich aromatisierter Tee</a>
          </li>
          <li class="menu-subitem">
            <a href="#">Nicht aromatisierter Tee</a>
          </li>
          <li class="menu-subitem">
            <span>Ostertee</span>
          </li>
        </ul>
      </li>

      <li class="menu-item with-arrow">
        <a href="#">Kaffee</a>
        <ul class="submenu">
          <li class="menu-subitem">
            <span>Schwarztee</span>
          </li>
          <li class="menu-subitem">
            <a href="#">Schwarz -aromatisiert-</a>
          </li>
          <li class="menu-subitem">
            <a href="#">Schwarz -entkoffeiniert-</a>
          </li>
          <li class="menu-subitem">
            <a href="#">Darjeeling</a>
          </li>
          <li class="menu-subitem">
            <a href="#">Assam</a>
          </li>
          <li class="menu-subitem">
            <a href="#">Ceylon</a>
          </li>
          <li class="menu-subitem">
            <a href="#">China</a>
          </li>
          <li class="menu-subitem">
            <a href="#">Andere Länder & Gebiete</a>
          </li>
          <li class="menu-subitem">
            <a href="#">Ostfriesen & Blatt-Mischung</a>
          </li>
          <li class="menu-subitem">
            <span>Grüner Tee</span>
          </li>
          <li class="menu-subitem">
            <a href="#">Grün -aromatisiert-</a>
          </li>
          <li class="menu-subitem">
            <a href="#">Weißer Tee -aromatisiert-</a>
          </li>
          <li class="menu-subitem">
            <a href="#">Darjeeling</a>
          </li>
          <li class="menu-subitem">
            <a href="#">Japan</a>
          </li>
          <li class="menu-subitem">
            <a href="#">China</a>
          </li>
          <li class="menu-subitem">
            <a href="#">Andere Länder & Gebiete</a>
          </li>
          <li class="menu-subitem">
            <span>Oolong</span>
          </li>
          <li class="menu-subitem">
            <span>Früchtetee</span>
          </li>
          <li class="menu-subitem">
            <a href="#">Früchte Sortiment</a>
          </li>
          <li class="menu-subitem">
            <a href="#">Früchte -magenschonend-</a>
          </li>
          <li class="menu-subitem">
            <a href="#">Früchte -magenschonend-</a>
          </li>
          <li class="menu-subitem">
            <span>Kräutertee & Gewürze</span>
          </li>
          <li class="menu-subitem">
            <a href="#">Kräuter -aromatisiert-</a>
          </li>
          <li class="menu-subitem">
            <a href="#">Kräuter & Gewürze - pur -</a>
          </li>
          <li class="menu-subitem">
            <span>Rooibostee</span>
          </li>
          <li class="menu-subitem">
            <a href="#">Rooibos -aromatisiert-</a>
          </li>
          <li class="menu-subitem">
            <a href="#">Rooibos grün</a>
          </li>
          <li class="menu-subitem">
            <a href="#">Honeybush</a>
          </li>
          <li class="menu-subitem">
            <span>Bio & Natürliches Aroma</span>
          </li>
          <li class="menu-subitem">
            <a href="#">Bio Tee</a>
          </li>
          <li class="menu-subitem">
            <a href="#">Ayurveda Tee</a>
          </li>
          <li class="menu-subitem">
            <a href="#">Natürlich aromatisierter Tee</a>
          </li>
          <li class="menu-subitem">
            <a href="#">Nicht aromatisierter Tee</a>
          </li>
          <li class="menu-subitem">
            <span>Ostertee</span>
          </li>
        </ul>
      </li>

      <li class="menu-item with-arrow">
        <a href="#">Geschenke</a>
        <ul class="submenu">
          <li class="menu-subitem">
            <span>Schwarztee</span>
          </li>
          <li class="menu-subitem">
            <a href="#">Schwarz -aromatisiert-</a>
          </li>
          <li class="menu-subitem">
            <a href="#">Schwarz -entkoffeiniert-</a>
          </li>
          <li class="menu-subitem">
            <a href="#">Darjeeling</a>
          </li>
          <li class="menu-subitem">
            <a href="#">Assam</a>
          </li>
          <li class="menu-subitem">
            <a href="#">Ceylon</a>
          </li>
          <li class="menu-subitem">
            <a href="#">China</a>
          </li>
          <li class="menu-subitem">
            <a href="#">Andere Länder & Gebiete</a>
          </li>
          <li class="menu-subitem">
            <a href="#">Ostfriesen & Blatt-Mischung</a>
          </li>
          <li class="menu-subitem">
            <span>Grüner Tee</span>
          </li>
          <li class="menu-subitem">
            <a href="#">Grün -aromatisiert-</a>
          </li>
          <li class="menu-subitem">
            <a href="#">Weißer Tee -aromatisiert-</a>
          </li>
          <li class="menu-subitem">
            <a href="#">Darjeeling</a>
          </li>
          <li class="menu-subitem">
            <a href="#">Japan</a>
          </li>
          <li class="menu-subitem">
            <a href="#">China</a>
          </li>
          <li class="menu-subitem">
            <a href="#">Andere Länder & Gebiete</a>
          </li>
          <li class="menu-subitem">
            <span>Oolong</span>
          </li>
          <li class="menu-subitem">
            <span>Früchtetee</span>
          </li>
          <li class="menu-subitem">
            <a href="#">Früchte Sortiment</a>
          </li>
          <li class="menu-subitem">
            <a href="#">Früchte -magenschonend-</a>
          </li>
          <li class="menu-subitem">
            <a href="#">Früchte -magenschonend-</a>
          </li>
          <li class="menu-subitem">
            <span>Kräutertee & Gewürze</span>
          </li>
          <li class="menu-subitem">
            <a href="#">Kräuter -aromatisiert-</a>
          </li>
          <li class="menu-subitem">
            <a href="#">Kräuter & Gewürze - pur -</a>
          </li>
          <li class="menu-subitem">
            <span>Rooibostee</span>
          </li>
          <li class="menu-subitem">
            <a href="#">Rooibos -aromatisiert-</a>
          </li>
          <li class="menu-subitem">
            <a href="#">Rooibos grün</a>
          </li>
          <li class="menu-subitem">
            <a href="#">Honeybush</a>
          </li>
          <li class="menu-subitem">
            <span>Bio & Natürliches Aroma</span>
          </li>
          <li class="menu-subitem">
            <a href="#">Bio Tee</a>
          </li>
          <li class="menu-subitem">
            <a href="#">Ayurveda Tee</a>
          </li>
          <li class="menu-subitem">
            <a href="#">Natürlich aromatisierter Tee</a>
          </li>
          <li class="menu-subitem">
            <a href="#">Nicht aromatisierter Tee</a>
          </li>
          <li class="menu-subitem">
            <span>Ostertee</span>
          </li>
        </ul>
      </li>

      <li class="menu-item with-arrow">
        <a href="#">Raritäten</a>
        <ul class="submenu">
          <li class="menu-subitem">
            <span>Schwarztee</span>
          </li>
          <li class="menu-subitem">
            <a href="#">Schwarz -aromatisiert-</a>
          </li>
          <li class="menu-subitem">
            <a href="#">Schwarz -entkoffeiniert-</a>
          </li>
          <li class="menu-subitem">
            <a href="#">Darjeeling</a>
          </li>
          <li class="menu-subitem">
            <a href="#">Assam</a>
          </li>
          <li class="menu-subitem">
            <a href="#">Ceylon</a>
          </li>
          <li class="menu-subitem">
            <a href="#">China</a>
          </li>
          <li class="menu-subitem">
            <a href="#">Andere Länder & Gebiete</a>
          </li>
          <li class="menu-subitem">
            <a href="#">Ostfriesen & Blatt-Mischung</a>
          </li>
          <li class="menu-subitem">
            <span>Grüner Tee</span>
          </li>
          <li class="menu-subitem">
            <a href="#">Grün -aromatisiert-</a>
          </li>
          <li class="menu-subitem">
            <a href="#">Weißer Tee -aromatisiert-</a>
          </li>
          <li class="menu-subitem">
            <a href="#">Darjeeling</a>
          </li>
          <li class="menu-subitem">
            <a href="#">Japan</a>
          </li>
          <li class="menu-subitem">
            <a href="#">China</a>
          </li>
          <li class="menu-subitem">
            <a href="#">Andere Länder & Gebiete</a>
          </li>
          <li class="menu-subitem">
            <span>Oolong</span>
          </li>
          <li class="menu-subitem">
            <span>Früchtetee</span>
          </li>
          <li class="menu-subitem">
            <a href="#">Früchte Sortiment</a>
          </li>
          <li class="menu-subitem">
            <a href="#">Früchte -magenschonend-</a>
          </li>
          <li class="menu-subitem">
            <a href="#">Früchte -magenschonend-</a>
          </li>
          <li class="menu-subitem">
            <span>Kräutertee & Gewürze</span>
          </li>
          <li class="menu-subitem">
            <a href="#">Kräuter -aromatisiert-</a>
          </li>
          <li class="menu-subitem">
            <a href="#">Kräuter & Gewürze - pur -</a>
          </li>
          <li class="menu-subitem">
            <span>Rooibostee</span>
          </li>
          <li class="menu-subitem">
            <a href="#">Rooibos -aromatisiert-</a>
          </li>
          <li class="menu-subitem">
            <a href="#">Rooibos grün</a>
          </li>
          <li class="menu-subitem">
            <a href="#">Honeybush</a>
          </li>
          <li class="menu-subitem">
            <span>Bio & Natürliches Aroma</span>
          </li>
          <li class="menu-subitem">
            <a href="#">Bio Tee</a>
          </li>
          <li class="menu-subitem">
            <a href="#">Ayurveda Tee</a>
          </li>
          <li class="menu-subitem">
            <a href="#">Natürlich aromatisierter Tee</a>
          </li>
          <li class="menu-subitem">
            <a href="#">Nicht aromatisierter Tee</a>
          </li>
          <li class="menu-subitem">
            <span>Ostertee</span>
          </li>
        </ul>
      </li>

      <li class="menu-item with-arrow">
        <a href="#">Wellness</a>
        <ul class="submenu">
          <li class="menu-subitem">
            <span>Schwarztee</span>
          </li>
          <li class="menu-subitem">
            <a href="#">Schwarz -aromatisiert-</a>
          </li>
          <li class="menu-subitem">
            <a href="#">Schwarz -entkoffeiniert-</a>
          </li>
          <li class="menu-subitem">
            <a href="#">Darjeeling</a>
          </li>
          <li class="menu-subitem">
            <a href="#">Assam</a>
          </li>
          <li class="menu-subitem">
            <a href="#">Ceylon</a>
          </li>
          <li class="menu-subitem">
            <a href="#">China</a>
          </li>
          <li class="menu-subitem">
            <a href="#">Andere Länder & Gebiete</a>
          </li>
          <li class="menu-subitem">
            <a href="#">Ostfriesen & Blatt-Mischung</a>
          </li>
          <li class="menu-subitem">
            <span>Grüner Tee</span>
          </li>
          <li class="menu-subitem">
            <a href="#">Grün -aromatisiert-</a>
          </li>
          <li class="menu-subitem">
            <a href="#">Weißer Tee -aromatisiert-</a>
          </li>
          <li class="menu-subitem">
            <a href="#">Darjeeling</a>
          </li>
          <li class="menu-subitem">
            <a href="#">Japan</a>
          </li>
          <li class="menu-subitem">
            <a href="#">China</a>
          </li>
          <li class="menu-subitem">
            <a href="#">Andere Länder & Gebiete</a>
          </li>
          <li class="menu-subitem">
            <span>Oolong</span>
          </li>
          <li class="menu-subitem">
            <span>Früchtetee</span>
          </li>
          <li class="menu-subitem">
            <a href="#">Früchte Sortiment</a>
          </li>
          <li class="menu-subitem">
            <a href="#">Früchte -magenschonend-</a>
          </li>
          <li class="menu-subitem">
            <a href="#">Früchte -magenschonend-</a>
          </li>
          <li class="menu-subitem">
            <span>Kräutertee & Gewürze</span>
          </li>
          <li class="menu-subitem">
            <a href="#">Kräuter -aromatisiert-</a>
          </li>
          <li class="menu-subitem">
            <a href="#">Kräuter & Gewürze - pur -</a>
          </li>
          <li class="menu-subitem">
            <span>Rooibostee</span>
          </li>
          <li class="menu-subitem">
            <a href="#">Rooibos -aromatisiert-</a>
          </li>
          <li class="menu-subitem">
            <a href="#">Rooibos grün</a>
          </li>
          <li class="menu-subitem">
            <a href="#">Honeybush</a>
          </li>
          <li class="menu-subitem">
            <span>Bio & Natürliches Aroma</span>
          </li>
          <li class="menu-subitem">
            <a href="#">Bio Tee</a>
          </li>
          <li class="menu-subitem">
            <a href="#">Ayurveda Tee</a>
          </li>
          <li class="menu-subitem">
            <a href="#">Natürlich aromatisierter Tee</a>
          </li>
          <li class="menu-subitem">
            <a href="#">Nicht aromatisierter Tee</a>
          </li>
          <li class="menu-subitem">
            <span>Ostertee</span>
          </li>
        </ul>
      </li>

      <li class="menu-item with-arrow">
        <a href="#">Aktuell</a>
        <ul class="submenu">
          <li class="menu-subitem">
            <span>Schwarztee</span>
          </li>
          <li class="menu-subitem">
            <a href="#">Schwarz -aromatisiert-</a>
          </li>
          <li class="menu-subitem">
            <a href="#">Schwarz -entkoffeiniert-</a>
          </li>
          <li class="menu-subitem">
            <a href="#">Darjeeling</a>
          </li>
          <li class="menu-subitem">
            <a href="#">Assam</a>
          </li>
          <li class="menu-subitem">
            <a href="#">Ceylon</a>
          </li>
          <li class="menu-subitem">
            <a href="#">China</a>
          </li>
          <li class="menu-subitem">
            <a href="#">Andere Länder & Gebiete</a>
          </li>
          <li class="menu-subitem">
            <a href="#">Ostfriesen & Blatt-Mischung</a>
          </li>
          <li class="menu-subitem">
            <span>Grüner Tee</span>
          </li>
          <li class="menu-subitem">
            <a href="#">Grün -aromatisiert-</a>
          </li>
          <li class="menu-subitem">
            <a href="#">Weißer Tee -aromatisiert-</a>
          </li>
          <li class="menu-subitem">
            <a href="#">Darjeeling</a>
          </li>
          <li class="menu-subitem">
            <a href="#">Japan</a>
          </li>
          <li class="menu-subitem">
            <a href="#">China</a>
          </li>
          <li class="menu-subitem">
            <a href="#">Andere Länder & Gebiete</a>
          </li>
          <li class="menu-subitem">
            <span>Oolong</span>
          </li>
          <li class="menu-subitem">
            <span>Früchtetee</span>
          </li>
          <li class="menu-subitem">
            <a href="#">Früchte Sortiment</a>
          </li>
          <li class="menu-subitem">
            <a href="#">Früchte -magenschonend-</a>
          </li>
          <li class="menu-subitem">
            <a href="#">Früchte -magenschonend-</a>
          </li>
          <li class="menu-subitem">
            <span>Kräutertee & Gewürze</span>
          </li>
          <li class="menu-subitem">
            <a href="#">Kräuter -aromatisiert-</a>
          </li>
          <li class="menu-subitem">
            <a href="#">Kräuter & Gewürze - pur -</a>
          </li>
          <li class="menu-subitem">
            <span>Rooibostee</span>
          </li>
          <li class="menu-subitem">
            <a href="#">Rooibos -aromatisiert-</a>
          </li>
          <li class="menu-subitem">
            <a href="#">Rooibos grün</a>
          </li>
          <li class="menu-subitem">
            <a href="#">Honeybush</a>
          </li>
          <li class="menu-subitem">
            <span>Bio & Natürliches Aroma</span>
          </li>
          <li class="menu-subitem">
            <a href="#">Bio Tee</a>
          </li>
          <li class="menu-subitem">
            <a href="#">Ayurveda Tee</a>
          </li>
          <li class="menu-subitem">
            <a href="#">Natürlich aromatisierter Tee</a>
          </li>
          <li class="menu-subitem">
            <a href="#">Nicht aromatisierter Tee</a>
          </li>
          <li class="menu-subitem">
            <span>Ostertee</span>
          </li>
        </ul>
      </li>

      <li class="menu-item with-arrow">
        <a href="#">Zubehör</a>
        <ul class="submenu">
          <li class="menu-subitem">
            <span>Schwarztee</span>
          </li>
          <li class="menu-subitem">
            <a href="#">Schwarz -aromatisiert-</a>
          </li>
          <li class="menu-subitem">
            <a href="#">Schwarz -entkoffeiniert-</a>
          </li>
          <li class="menu-subitem">
            <a href="#">Darjeeling</a>
          </li>
          <li class="menu-subitem">
            <a href="#">Assam</a>
          </li>
          <li class="menu-subitem">
            <a href="#">Ceylon</a>
          </li>
          <li class="menu-subitem">
            <a href="#">China</a>
          </li>
          <li class="menu-subitem">
            <a href="#">Andere Länder & Gebiete</a>
          </li>
          <li class="menu-subitem">
            <a href="#">Ostfriesen & Blatt-Mischung</a>
          </li>
          <li class="menu-subitem">
            <span>Grüner Tee</span>
          </li>
          <li class="menu-subitem">
            <a href="#">Grün -aromatisiert-</a>
          </li>
          <li class="menu-subitem">
            <a href="#">Weißer Tee -aromatisiert-</a>
          </li>
          <li class="menu-subitem">
            <a href="#">Darjeeling</a>
          </li>
          <li class="menu-subitem">
            <a href="#">Japan</a>
          </li>
          <li class="menu-subitem">
            <a href="#">China</a>
          </li>
          <li class="menu-subitem">
            <a href="#">Andere Länder & Gebiete</a>
          </li>
          <li class="menu-subitem">
            <span>Oolong</span>
          </li>
          <li class="menu-subitem">
            <span>Früchtetee</span>
          </li>
          <li class="menu-subitem">
            <a href="#">Früchte Sortiment</a>
          </li>
          <li class="menu-subitem">
            <a href="#">Früchte -magenschonend-</a>
          </li>
          <li class="menu-subitem">
            <a href="#">Früchte -magenschonend-</a>
          </li>
          <li class="menu-subitem">
            <span>Kräutertee & Gewürze</span>
          </li>
          <li class="menu-subitem">
            <a href="#">Kräuter -aromatisiert-</a>
          </li>
          <li class="menu-subitem">
            <a href="#">Kräuter & Gewürze - pur -</a>
          </li>
          <li class="menu-subitem">
            <span>Rooibostee</span>
          </li>
          <li class="menu-subitem">
            <a href="#">Rooibos -aromatisiert-</a>
          </li>
          <li class="menu-subitem">
            <a href="#">Rooibos grün</a>
          </li>
          <li class="menu-subitem">
            <a href="#">Honeybush</a>
          </li>
          <li class="menu-subitem">
            <span>Bio & Natürliches Aroma</span>
          </li>
          <li class="menu-subitem">
            <a href="#">Bio Tee</a>
          </li>
          <li class="menu-subitem">
            <a href="#">Ayurveda Tee</a>
          </li>
          <li class="menu-subitem">
            <a href="#">Natürlich aromatisierter Tee</a>
          </li>
          <li class="menu-subitem">
            <a href="#">Nicht aromatisierter Tee</a>
          </li>
          <li class="menu-subitem">
            <span>Ostertee</span>
          </li>
        </ul>
      </li>

    </ul>
  </div>
</nav>
