<div class="wrapper">
  <div class="page-title">
    <div class="breadcumbs">
      <span>Главная</span> > <span class="color-green">{{current-page}}</span>
    </div>
    <div class="heading-1 fw-500">
      {{title}}
    </div>
  </div>
</div>
