<div class="pagination">
  <div class="page prev">
    <a href="#" class="fa fa-angle-left"></a>
  </div>
  <div class="page active">
    <a href="#">1</a>
  </div>
  <div class="page">
    <a href="#">2</a>
  </div>
  <div class="page">
    <a href="#">3</a>
  </div>
  <div class="page">
    <a href="#">...</a>
  </div>
  <div class="page next">
    <a href="#" class="fa fa-angle-right"></a>
  </div>
</div>
