<ul class="tags-list fw-600">
  <li class="tag">
    <a href="#">#шампунь</a>,
  </li>
  <li class="tag">
    <a href="#">#органическая_косметика</a>,
  </li>
  <li class="tag">
    <a href="#">#BabyBjörn</a>,
  </li>
  <li class="tag">
    <a href="#">#Urtekram</a>,
  </li>
  <li class="tag">
    <a href="#">#Biosolis</a>,
  </li>
  <li class="tag">
    <a href="#">#NaturGreen</a>,
  </li>
  <li class="tag">
    <a href="#">#Medela</a>,
  </li>
  <li class="tag">
    <a href="#">#Ecomil</a>
  </li>
</ul>
