<!DOCTYPE html>
<html lang="en">
  <head>
    {{> head }}
  </head>

  <body>
    {{> header-menu }}
    {{> header }}
    {{> page-title current-page='Общий каталог' title='органические продукты в каталоге junimed' }}
    <div class="wrapper">

      <div class="sitebar">

        <ul class="menu">
          <li class="item">
            <a href="#" class="heading-3 fw-600">все</a>
          </li>
          <li class="item">
            <a href="#" class="heading-3 fw-600">товары для грудного вскармливания</a>
          </li>
          <li class="item">
            <a href="#" class="heading-3 fw-600">товары для детей</a>
          </li>
          <li class="item">
            <a href="#" class="heading-3 fw-600">органическая продукция для дома</a>
          </li>
          <li class="item">
            <a href="#" class="heading-3 fw-600">органическая продукция для тела</a>
          </li>
          <li class="item">
            <a href="#" class="heading-3 fw-600">органическая продукция для полости рта</a>
          </li>
          <li class="item">
            <a href="#" class="heading-3 fw-600">органическая еда</a>
          </li>
          <li class="item">
            <a href="#" class="heading-3 fw-600">акции</a>
          </li>
        </ul>

        <div class="filter">
          <div class="btn-green">сбросить все</div>
          <div class="range-wrapper">
            <div class="heading-3 fw-500">цена 200 - 900 грн.</div>
            <div class="range"></div>
          </div>
          <div class="tags-wrapper">
            <div class="heading-3 fw-500">размер:</div>
            <ul class="tags">
              <li class="tag">
                <input type="checkbox" id="size-xs" value="" />
                <label for="size-xs">XS</label>
              </li>
              <li class="tag">
                <input type="checkbox" id="size-s" value="" />
                <label for="size-s">S</label>
              </li>
              <li class="tag">
                <input type="checkbox" id="size-m" value="" />
                <label for="size-m">M</label>
              </li>
              <li class="tag">
                <input type="checkbox" id="size-l" value="" />
                <label for="size-l">L</label>
              </li>
              <li class="tag">
                <input type="checkbox" id="size-xl" value="" />
                <label for="size-xl">XL</label>
              </li>
            </ul>
          </div>
          <div class="tags-wrapper">
            <div class="heading-3 fw-500">цвет:</div>
            <ul class="tags">
              <li class="tag">
                <input type="checkbox" id="color-1" value="" />
                <label for="color-1">Черный</label>
              </li>
              <li class="tag">
                <input type="checkbox" id="color-2" value="" />
                <label for="color-2">Хаки</label>
              </li>
              <li class="tag">
                <input type="checkbox" id="color-3" value="" />
                <label for="color-3">Розовый</label>
              </li>
              <li class="tag">
                <input type="checkbox" id="color-4" value="" />
                <label for="color-4">Желтый</label>
              </li>
              <li class="tag">
                <input type="checkbox" id="color-5" value="" />
                <label for="color-5">Белый</label>
              </li>
            </ul>
          </div>
        </div>
      </div>

    </div>

    {{> advertising-services }}
    {{> footer }}
  </body>
</html>
