<!DOCTYPE html>
<html lang="en">
  <head>
    {{> head }}
  </head>

  <body>
    {{> header-menu }}
    {{> header }}
    {{> page-title current-page='Общий каталог' title='органические продукты в каталоге junimed' }}
    {{> advertising-services }}
    {{> footer }}
  </body>
</html>
