<!DOCTYPE html>
<html lang="en">
  <head>
    {{> head }}
  </head>
  <body>
    {{> header-menu }}
    {{> header }}
    {{> page-title current-page='Medela Swing Breast Pump with Calma Teat' title='Medela Swing Breast Pump with Calma Teat' }}
    <div class="wrapper product-page">
      <div class="wrapper product-view clear">
        <div class="column left">
          <div class="product-slider">
            <img src="img/products/view/large/01.jpg" alt="" />
          </div>
          <div class="history">
            {{> section-head title='вы уже смотрели' class='text-left no-margin' }}
            <div class="products-list">
              {{> product type='new no-hover-border no-hover-btn' picture='product-01.jpg' brand='Le Pain des fleurts' name='луковые хлебцы' price='$ 75.00'}}
              {{> product type='new no-hover-border no-hover-btn' picture='product-01.jpg' brand='Le Pain des fleurts' name='луковые хлебцы' price='$ 75.00'}}
            </div>
          </div>
        </div>
        <div class="column left clear">
          <div class="general-info left">
            <div class="hr"></div>
            <div class="sku-brand">
              <span>Артикул: 102605</span><i class="divider"></i><span>Бренд: Medela</span>
            </div>
            <div class="hr"></div>
            <div class="clear">
              <div class="price left">
                <span>$ 99.99</span>
                <span class="old">$ 125.00</span>
              </div>
              <div class="counter left">
                <span>через</span>
                <div class="timer clear" id="timer">
                  <div class="digit hrs left">
                    <span>1</span><span>9</span>
                  </div>
                  <span class="left">:</span>
                  <div class="digit min left">
                    <span>0</span><span>2</span>
                  </div>
                  <span class="left">:</span>
                  <div class="digit sec left">
                    <span>3</span><span>6</span>
                  </div>
                </div>
                <span>цена на товар <br/> изменится</span>
              </div>
            </div>
            <div class="clear buy-btns">
              <div class="btn btn-green left">добавить в корзину</div>
              <div class="btn left">купить в один клик</div>
            </div>
            <div class="hr"></div>
          </div>
          <div class="awards left">
            <div class="award">
              <img src="img/products/awards/award-2015.png" alt="Award 2015" />
            </div>
            <div class="award">
              <img src="img/products/awards/award-2016.png" alt="Award 2016" />
            </div>
            <div class="award">
              <img src="img/products/awards/award-2015.png" alt="Award 2015" />
            </div>
          </div>
        </div>
      </div>
      <div class="wrapper">
        {{> section-head title='вам может понравиться' }}
      </div>
      <div class="wrapper">
        <div class="products-list">
          {{> product type='new' picture='product-01.jpg' brand='Le Pain des fleurts' name='луковые хлебцы' price='$ 75.00'}}
          {{> product type='new' picture='product-02.jpg' brand='BioSolis' name='SPF 50+' price='$ 75.00'}}
          {{> product type='new' picture='product-03.jpg' brand='Medela' name='бутылочка' price='$ 75.00'}}
          {{> product type='new' picture='product-04.jpg' brand='Le Pain des fleurts' name='луковые хлебцы' price='$ 75.00'}}
          {{> product type='new' picture='product-01.jpg' brand='Le Pain des fleurts' name='луковые хлебцы' price='$ 75.00'}}
        </div>
      </div>
      <div class="text-block text-center">
        <div class="heading-3 fw-600">
          Душа моя озарена неземной радостью, как эти чудесные весенние утра, которыми я наслаждаюсь от всего сердца.
        </div>
        <p class="text">
          Я совсем один и блаженствую в здешнем краю, словно созданном для таких, как я. Я так счастлив, мой друг, так упоен ощущением покоя, что искусство мое страдает от этого. Ни одного штриха не мог бы я сделать, а никогда не был таким большим художником, как в эти минуты. Когда от милой моей долины поднимается пар и полдневное солнце стоит над непроницаемой чащей темного леса и лишь редкий луч проскальзывает в его святая святых, а я лежу в высокой траве у быстрого ручья и, прильнув к земле, вижу тысячи всевозможных былинок и чувствую, как близок моему сердцу крошечный мирок, что снует между стебельками, наблюдаю эти неисчислимые, непостижимые разновидности червяков и мошек и чувствую близость всемогущего, создавшего нас по своему подобию, веяние вселюбящего, судившего нам парить в вечном блаженстве, когда взор мой туманится и все вокруг меня и небо надо мной запечатлены в моей душе, точно образ возлюбленной, - тогда, дорогой друг, меня часто томит мысль: "Ах! Как бы выразить, как бы вдохнуть в рисунок то, что так полно, так трепетно живет во мне, запечатлеть отражение моей души, как душа моя - отражение предвечного бога!"
        </p>
      </div>
    </div>
    {{> advertising-services }}
    {{> footer }}
  </body>
</html>
