<!DOCTYPE html>
<html lang="en">
  <head>
    {{> head }}
  </head>
  <body>
    {{> header-menu }}
    {{> header }}
    {{> page-title current-page='ОРГАНИЧЕСКИЕ ШАМПУНИ URTEKRAM ЛЕЧАТ ВОЛОСЫ' title='ОРГАНИЧЕСКИЕ ШАМПУНИ URTEKRAM ЛЕЧАТ ВОЛОСЫ' }}
    <div class="wrapper article clear">
      <div class="content">
        <div class="body">
          <div class="cover-wrapper left">
            <img src="img/article/img-01.jpg" alt="" />
          </div>
          <div class="heading-1">
            ОРГАНИЧЕСКИЕ ШАМПУНИ URTEKRAM ЛЕЧАТ ВОЛОСЫ
          </div>
          <div class="tag-date">
          <span class="tag fw-600">
              <a href="#">#органика</a>,
            </span>
            <span class="date">12.05.2017</span>
          </div>
          <p class="text">
            Душа моя озарена неземной радостью, как эти чудесные весенние утра, которыми я наслаждаюсь от всего сердца. Я совсем один и блаженствую в здешнем краю, словно созданном для таких, как я.
            Я так счастлив, мой друг, так упоен ощущением покоя, что искусство мое страдает от этого. Душа моя озарена
            неземной радостью, как эти чудесные весенние утра, которыми я наслаждаюсь от всего сердца. Я совсем один и блаженствую в здешнем краю, словно созданном для таких, как я. Я так счастлив, мой друг, так упоен ощущением покоя, что искусство мое страдает от этого.
          </p>
          <p class="text">
            Ни одного штриха не мог бы я сделать, а никогда не был таким большим художником, как в эти минуты. Когда от милой моей долины поднимается пар и полдневное солнце стоит над непроницаемой чащей темного леса и лишь редкий луч проскальзывает в его святая святых, а я лежу в высокой траве у быстрого ручья и, прильнув к земле, вижу тысячи всевозможных былинок и чувствую, как близок моему сердцу крошечный мирок, что снует между стебельками, наблюдаю эти неисчислимые, непостижимые разновидности червяков и мошек и чувствую близость всемогущего, создавшего нас по своему подобию, веяние вселюбящего, судившего нам парить в вечном блаженстве, когда взор мой туманится и все вокруг меня и небо надо мной запечатлены в моей душе, точно образ возлюбленной, - тогда, дорогой друг, меня часто томит мысль:
          </p>
          <p class="text">
            Ни одного штриха не мог бы я сделать, а никогда не был таким большим художником, как в эти минуты. Когда от милой моей долины поднимается пар и полдневное солнце стоит над непроницаемой чащей темного леса и лишь редкий луч проскальзывает в его святая святых, а я лежу в высокой траве у быстрого ручья и, прильнув к земле, вижу тысячи всевозможных былинок и чувствую, как близок моему сердцу крошечный мирок, что снует между стебельками, наблюдаю эти неисчислимые, непостижимые разновидности червяков и мошек и чувствую близость всемогущего, создавшего нас по своему подобию.
            веяние вселюбящего, судившего нам парить в вечном блаженстве, когда взор мой туманится и все вокруг меня и небо надо мной запечатлены в моей душе, точно образ возлюбленной, - тогда, дорогой друг, меня часто томит мысль:
            Душа моя озарена неземной радостью, как эти чудесные весенние утра, которыми я наслаждаюсь от всего сердца. Я совсем один и блаженствую в здешнем краю, словно созданном для таких, как я. Я так счастлив, мой друг, так упоен ощущением покоя, что искусство мое страдает от этого.
          </p>
        </div>

        {{> section-head title='обзор на youtube:' class='text-left no-margin' }}
        <div class="youtube-overview">
          <iframe src="https://www.youtube.com/embed/-Q40CM9xQSU" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        </div>

        {{> section-head title='вам может быть интересно:' class='text-left no-margin' }}
        <div class="posts">
          {{> post tag='#органика'    date='12.05.2017' title='органический интернационал и евролисток' picture='img/blog/post-01.jpg' }}
          {{> post tag='#для_дома'    date='12.05.2017' title='ПОЧЕМУ ХОЗЯЙКИ ВО НАЧАЛИ ПЕРЕХОДИТЬ НА органическую химию?' picture='img/blog/post-02.jpg' }}
          {{> post tag='#органика'    date='12.05.2017' title='органический интернационал и евролисток' picture='img/blog/post-03.jpg' }}
          {{> post tag='#шампунь'     date='12.05.2017' title='ОРГАНИЧЕСКИЕ ШАМПУНИ URTEKRAM ЛЕЧАТ' picture='img/blog/post-04.jpg' }}
        </div>

        {{> section-head title='коментарии:' class='text-left no-margin' }}
      </div>
      <div class="sitebar">
        {{> section-head title='хиты продаж:' class='text-left no-margin' }}
        <div class="products-list">
          {{> product type='new no-hover-border no-hover-btn' picture='product-01.jpg' brand='Le Pain des fleurts' name='луковые хлебцы' price='$ 75.00'}}
          {{> product type='new no-hover-border no-hover-btn' picture='product-01.jpg' brand='Le Pain des fleurts' name='луковые хлебцы' price='$ 75.00'}}
        </div>
        <div class="heading-1">
          поиск по тегам:
        </div>
        {{> search-by-tags }}
        <ul class="widgets">
          <li class="widget">
            <a href="#">
              <img src="img/sitebar/widget-banner.jpg" alt="Banner" />
            </a>
          </li>
          <li class="widget">
            <a href="#">
              <img src="img/sitebar/widget-banner.jpg" alt="Banner" />
            </a>
          </li>
        </ul>
      </div>
    </div>
    {{> advertising-services }}
    {{> footer }}
  </body>
</html>
