<!DOCTYPE html>
<html lang="en">
  <head>
    {{> head }}
  </head>

  <body>
    {{> header-menu }}
    {{> header }}
    {{> home-slider }}
    {{> advertising-services }}
    <div class="wrapper">
      {{> section-head title='Наши бренды'}}
    </div>
    {{> brands }}
    <div class="wrapper">
      {{> section-head title='Новинки' description='впервые в продаже' }}
    </div>
    <div class="wrapper">
      {{> products-list new='true' }}
    </div>
    <div class="wrapper">
      {{> section-head title='Акция' description='лимитированные товары' }}
    </div>
    <div class="wrapper">
      {{> products-list sale='true' }}
    </div>
    <div class="wrapper btns-section btns-products">
      <div class="btn load-more">
        загрузить еще
      </div>
      <div class="btn btn-green see-all">
        посмотреть все
      </div>
    </div>
    <div class="wrapper">
      {{> section-head title='Блог' description='полезные статьи' }}
    </div>
    {{> blog-preview }}
    <div class="wrapper btns-section btns-blog">
      <div class="btn read-all">
        <a href="#">читать все</a>
      </div>
    </div>
    {{> advertising-services }}
    {{> footer }}
  </body>
</html>
